---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "navbar","index","post","pagecontent","footer","footerbottom";

html {
  text-align: justify;
  color:#000000;
}

.main-data {
  padding:5% 0 0 0;
}

img {
  margin:0;
  max-width:100%;
}


@media(max-width:767px){
  .main-data {
    padding:15% 0 0 0;
  }
}
