<head>
  <meta charset="utf-8" />
  <link
    rel="icon"
    type="image/ico"
    href="http://rabingaire.com.np/favicon.ico"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% seo %}
  <meta
    name="keywords"
    content="programming, code, blog, technology, software, programming languages, computers"
  />
  <meta property="fb:app_id" content="656159151208814" />
  <title>{{ site.title }}</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link
    href="https://fonts.googleapis.com/css?family=Inconsolata"
    rel="stylesheet"
  />
</head>
