<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <meta property="fb:app_id" content="656159151208814" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <!--google share button -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
