.footer{
  background-color:#566270;
  height: 100px;
  width: auto;
  color: #ffffff;
  margin-top: 5%;
}

.footer
h4 {
  padding:5% 0 0 0;
}

i
{
  color:#eb2e39;
}

.footer {
  a,
  a:hover {
    color: #ffffff;
  }
}
