@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
}

.post-link,
.post-link:link,
.post-linkvisited,
.post-link:hover,
.post-link:active {
  color: #000000;
}