@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.home {
  border: 1px solid #e7e7e7;
  @include border-radius(5px);
}

.page-heading {
  font-size: 2em;
  background-color: #A593E0;
  color:#FFFFFF;
}

.post-list {
  font-size: 18px;
}

li {
  list-style: none;
}

.post-list {
  padding: 0 5% 0 5%;
}

.post-meta,
.post-title,
.post-preview
{
  padding:2% 0 0 0;
}

.preview {
  font-size: 14px;
}
