.post-link,
.post-link:link,
.post-linkvisited,
.post-link:hover,
.post-link:active {
  color: #000000;
}

.post-list {
  text-align: justify;
  margin-top: 0;
  padding: 0;
}

.post-list li {
  list-style-type: none;
}