.navbar-wrapper {
    margin: 50px 0px;
}

.brand-name,
.brand-name:link,
.brand-name:visited,
.brand-name:hover,
.brand-name:active {
    color: #000000;
    text-decoration: none;
}

.work-title {
    background-color: #000000;
    color: #FFFFFF;
}