//variables
body {
  line-height: 34px;
  font-family: 'Diaria Light Pro',sans-serif;
}

//variables end

.navbar-default
.navbar-brand,
.navbar-default
.navbar-brand:hover {
  font-size:24px;
  color: #333333;
}

.navbar-default {
  background-color: #ffffff;
}
.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.navbar-default
.navbar-nav{
  li {
    a{
      color: #333333;
    }
  }
}

.navbar-default
.navbar-toggle
.icon-bar {
  background-color: #333333;
}
