
.my-pic
img {
  margin: 2% 0 0 0;
  height: 200px;
  width: 200px;
  border:1px solid #000000;
}
.my-pic {
  margin:0 0 5% 0;
}

.description {
  font-size: 20px;
  line-height: 34px;
}

.social-media-links {
  margin:50px 0 0 0;
  a {
    color:#1da1f2;
    margin:0 0 0 5px;
    text-decoration:none;
  }
}
