<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrap">
      {% include navbar.html %}
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-md-6">
            <h2 class="text-center">{{ page.title }}</h2>
            <h6 class="text-center">{{ page.date | date: "%B %-d, %Y" }}</h6>
            <div class="blog-content">{{ content }}</div>
            {% include social.html %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
